body {
    background-color: #3a3a3a;
    padding: 50px;
}
a {
    color: #fff;
}
.content__circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 0;

    animation-name: white-circle;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes white-circle {
    0%{
        left: 0;
    }
    50%{
        border-radius: 0;
    }
    100%{
        left: 500px;
    }
}