/*перый способ через интеренет*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
}
.text {
    width: 300px;
    font-size: 18px;
}
/*Второй способ скачав шрифты*/
/*Заходим на webfonts.pro и качаем нужный нам шрифт в формате woff
  Regular(normal) - 400
  medium - 500
  bold - 700
  Потом заходим на сайт transformer.org и конвертируем шрифты в формат woff и woff2
  Закидываем в папку с сайтом и подключаем с помощью @font-face*/
@font-face {
    font-family: 'Chevin';
    src: url('fonts/Chevin-Light.woff2'),
    url('fonts/Chevin-Light.woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Chevin';
    src: url('fonts/Chevin-Medium.woff2'),
    url('fonts/Chevin-Medium.woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

.text2 {
    width: 300px;
    font-size: 18px;
    font-family: 'Chevin';
}