.button {
    height: 100px;
    width: 250px;
    position: absolute;
    top: calc(50% - 50px); 
    left: calc(50% - 125px);
    font-size: 36px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    z-index: 5;
}
.button-sup {
    box-sizing: border-box;
    padding-top: 28px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgb(43, 170, 85);
    border-radius: 8px;
    transition-duration: 2s, 0.5s;
    transition-property: background-color, top;
    transition-delay: 1s, 0.6s;
    transition-timing-function: ease-in-out;
}
.button-sup:hover {
    transition: all 1s ease 0px;
    background-color: rgb(203, 206, 26);
    top: 5px;
}
.button-sub {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 100, 28);
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 1;
}
